In [44]:
# store start time to get execution time of entire script
import time
start_time = time.time()

In [45]:
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
import csv

df = pd.read_csv('data_geocoded.csv')
df.head()

,Unnamed: 0,Unnamed: 0.1,ID,State,City,agyaddr,Illicit_Days5,Illicit_Cens5,adol,xobsyr_0,female_cd,nonwhite_cd,unemplmt_cd,prsatx_cd,gvsg_cd,CWSg_0_cd,srprobg_cd,dssg_0_cd,epsg_0_cd,adhdg_0_cd,cdsg_0_cd,cjsig_0_cd,lrig_0_cd,srig_0_cd,SESg_0_cd,r4ag_0_cd,nonillicit_flag,primsev_cd_1,primsev_cd_2,primsev_cd_3,primsev_cd_4,primsev_cd_5,primsev_cd_6,Address,lat,lng,Geo_FIPS
0,0,0,23223,FL,Miami,2140 South Dixie Hwy,365,0,0,2010,0,1,0,0,0,0,1,1,0,0,0,0,1,1,0,1,1,0,0,1,0,0,0,"2140 South Dixie Hwy, Miami, FL",25.743113,-80.228303,12086.0
1,1,1,857,OH,Cleveland,1276 West Third St. #400,365,0,1,2005,0,0,0,0,2,0,0,1,1,1,1,0,1,2,0,1,1,1,0,0,0,0,0,"1276 West Third St. #400, Cleveland, OH",41.501028,-81.697772,39035.0
2,2,2,929,OH,Cleveland,1276 West Third St. #400,354,0,1,2006,0,0,0,0,1,0,1,0,1,0,1,1,0,1,0,2,1,1,0,0,0,0,0,"1276 West Third St. #400, Cleveland, OH",41.501028,-81.697772,39035.0
3,3,3,951,OH,Cleveland,1276 West Third St. #400,365,0,1,2006,0,0,0,0,0,0,1,0,0,0,0,1,0,1,0,2,1,0,0,1,0,0,0,"1276 West Third St. #400, Cleveland, OH",41.501028,-81.697772,39035.0
4,4,4,1032,OH,Cleveland,1276 West Third St. #400,365,0,1,2006,0,0,0,0,2,0,1,1,1,1,1,0,2,1,0,2,1,0,0,1,0,0,0,"1276 West Third St. #400, Cleveland, OH",41.501028,-81.697772,39035.0

In [46]:
df.shape

(21278, 37)

Add Muder Data

In [47]:
murder_data = pd.read_csv('UCR-1985-2015.csv', error_bad_lines=False)
murder_data.head()

,Unnamed: 0,Agency,city,state,state_short,1985_raw_murder_num,1986_raw_murder_num,1987_raw_murder_num,1988_raw_murder_num,1989_raw_murder_num,1990_raw_murder_num,1991_raw_murder_num,1992_raw_murder_num,1993_raw_murder_num,1994_raw_murder_num,1995_raw_murder_num,1996_raw_murder_num,1997_raw_murder_num,1998_raw_murder_num,1999_raw_murder_num,2000_raw_murder_num,2001_raw_murder_num,2002_raw_murder_num,2003_raw_murder_num,2004_raw_murder_num,2005_raw_murder_num,2006_raw_murder_num,2007_raw_murder_num,2008_raw_murder_num,2009_raw_murder_num,2010_raw_murder_num,2011_raw_murder_num,2012_raw_murder_num,2013_raw_murder_num,2014_raw_murder_num,2015_raw_murder_num,1985_murder_rate,1986_murder_rate,1987_murder_rate,1988_murder_rate,1989_murder_rate,1990_murder_rate,1991_murder_rate,1992_murder_rate,1993_murder_rate,1994_murder_rate,1995_murder_rate,1996_murder_rate,1997_murder_rate,1998_murder_rate,1999_murder_rate,2000_murder_rate,2001_murder_rate,2002_murder_rate,2003_murder_rate,2004_murder_rate,2005_murder_rate,2006_murder_rate,2007_murder_rate,2008_murder_rate,2009_murder_rate,2010_murder_rate,2011_murder_rate,2012_murder_rate,2013_murder_rate,2014_murder_rate,2015_murder_rate
0,0,New York City Police Dept,New York City,New York,NY,1384.0,1582.0,1672.0,1896.0,1905.0,2245.0,2154.0,1995.0,1946.0,1561.0,1177.0,983.0,770.0,633.0,664.0,673.0,714.0,587.0,597.0,570.0,539.0,596.0,496.0,523.0,471.0,536.0,515.0,419.0,335.0,333.0,288.0,19.3,22.0,23.0,25.8,25.8,30.7,29.3,27.1,26.5,21.3,16.1,13.4,10.5,8.6,8.9,8.4,8.9,7.3,7.4,7.0,6.6,7.3,6.0,6.3,5.6,6.6,6.3,5.1,3.99,3.93,3.398656
1,1,Los Angeles Police Dept,Los Angeles,California,CA,777.0,834.0,811.0,736.0,877.0,983.0,1027.0,1094.0,1076.0,845.0,849.0,711.0,576.0,426.0,425.0,550.0,588.0,654.0,515.0,518.0,489.0,480.0,395.0,384.0,312.0,293.0,297.0,299.0,251.0,260.0,282.0,24.4,25.6,24.3,21.6,25.5,28.2,28.9,30.3,30.5,23.8,24.5,20.3,16.3,11.8,11.6,14.9,15.6,17.1,13.4,13.4,12.6,12.4,10.2,10.0,8.1,7.7,7.7,7.8,6.47,6.66,7.218235
2,2,Chicago Police Dept,Chicago,Illinois,IL,666.0,744.0,687.0,660.0,742.0,850.0,925.0,939.0,845.0,928.0,824.0,789.0,757.0,703.0,641.0,631.0,666.0,648.0,598.0,448.0,448.0,468.0,443.0,510.0,458.0,432.0,431.0,500.0,414.0,411.0,478.0,22.2,24.8,22.8,22.0,24.8,30.5,32.9,33.1,30.3,33.1,30.0,28.6,27.4,25.6,22.7,21.8,22.9,22.1,20.6,15.5,15.6,16.4,15.7,18.0,16.1,16.0,15.9,18.5,15.22,15.09,17.546945
3,3,Houston Police Dept,Houston,Texas,TX,457.0,408.0,323.0,440.0,459.0,568.0,608.0,465.0,446.0,375.0,316.0,261.0,254.0,254.0,241.0,230.0,267.0,256.0,278.0,272.0,334.0,377.0,351.0,294.0,287.0,269.0,198.0,217.0,214.0,242.0,303.0,26.2,22.9,18.6,25.5,26.8,34.8,36.5,27.4,25.9,21.3,18.2,14.7,14.1,14.1,13.3,11.8,13.4,12.5,13.6,13.3,16.3,18.2,16.2,13.1,12.6,12.8,9.2,10.0,9.81,10.90,13.649061
4,4,Philadelphia Police Dept,Philadelphia,Pennsylvania,PA,273.0,343.0,338.0,374.0,475.0,503.0,440.0,425.0,439.0,404.0,432.0,420.0,418.0,338.0,292.0,319.0,309.0,288.0,348.0,330.0,377.0,407.0,392.0,331.0,302.0,306.0,324.0,331.0,247.0,248.0,280.0,16.6,20.8,20.5,22.6,28.7,31.7,27.6,26.5,28.1,25.9,28.2,27.5,27.4,23.3,20.3,21.0,20.4,18.9,23.3,22.2,25.6,27.8,27.3,23.0,19.5,20.1,21.2,21.5,15.90,15.91,17.959517

In [48]:
cols_to_use = ['2002_raw_murder_num','2003_raw_murder_num','2004_raw_murder_num','2005_raw_murder_num',
               '2006_raw_murder_num','2007_raw_murder_num','2008_raw_murder_num','2009_raw_murder_num',
               '2010_raw_murder_num','2011_raw_murder_num','2012_raw_murder_num','city','state_short']
murder_data = murder_data[cols_to_use]

In [49]:
murder_data.shape

(290, 13)

In [50]:
murder_data.rename(columns = {'city':'City', 'state_short':'State'}, inplace = True)

In [51]:
df = pd.merge(df, murder_data, on=['City', 'State'], how='left')
df.head()

,Unnamed: 0,Unnamed: 0.1,ID,State,City,agyaddr,Illicit_Days5,Illicit_Cens5,adol,xobsyr_0,female_cd,nonwhite_cd,unemplmt_cd,prsatx_cd,gvsg_cd,CWSg_0_cd,srprobg_cd,dssg_0_cd,epsg_0_cd,adhdg_0_cd,cdsg_0_cd,cjsig_0_cd,lrig_0_cd,srig_0_cd,SESg_0_cd,r4ag_0_cd,nonillicit_flag,primsev_cd_1,primsev_cd_2,primsev_cd_3,primsev_cd_4,primsev_cd_5,primsev_cd_6,Address,lat,lng,Geo_FIPS,2002_raw_murder_num,2003_raw_murder_num,2004_raw_murder_num,2005_raw_murder_num,2006_raw_murder_num,2007_raw_murder_num,2008_raw_murder_num,2009_raw_murder_num,2010_raw_murder_num,2011_raw_murder_num,2012_raw_murder_num
0,0,0,23223,FL,Miami,2140 South Dixie Hwy,365,0,0,2010,0,1,0,0,0,0,1,1,0,0,0,0,1,1,0,1,1,0,0,1,0,0,0,"2140 South Dixie Hwy, Miami, FL",25.743113,-80.228303,12086.0,65.0,74.0,69.0,54.0,77.0,78.0,63.0,59.0,68.0,68.0,69.0
1,1,1,857,OH,Cleveland,1276 West Third St. #400,365,0,1,2005,0,0,0,0,2,0,0,1,1,1,1,0,1,2,0,1,1,1,0,0,0,0,0,"1276 West Third St. #400, Cleveland, OH",41.501028,-81.697772,39035.0,80.0,73.0,79.0,109.0,77.0,90.0,55.0,83.0,81.0,74.0,84.0
2,2,2,929,OH,Cleveland,1276 West Third St. #400,354,0,1,2006,0,0,0,0,1,0,1,0,1,0,1,1,0,1,0,2,1,1,0,0,0,0,0,"1276 West Third St. #400, Cleveland, OH",41.501028,-81.697772,39035.0,80.0,73.0,79.0,109.0,77.0,90.0,55.0,83.0,81.0,74.0,84.0
3,3,3,951,OH,Cleveland,1276 West Third St. #400,365,0,1,2006,0,0,0,0,0,0,1,0,0,0,0,1,0,1,0,2,1,0,0,1,0,0,0,"1276 West Third St. #400, Cleveland, OH",41.501028,-81.697772,39035.0,80.0,73.0,79.0,109.0,77.0,90.0,55.0,83.0,81.0,74.0,84.0
4,4,4,1032,OH,Cleveland,1276 West Third St. #400,365,0,1,2006,0,0,0,0,2,0,1,1,1,1,1,0,2,1,0,2,1,0,0,1,0,0,0,"1276 West Third St. #400, Cleveland, OH",41.501028,-81.697772,39035.0,80.0,73.0,79.0,109.0,77.0,90.0,55.0,83.0,81.0,74.0,84.0

In [52]:
df.shape

(21278, 48)

In [53]:
import numpy as np

print(np.sort(df['xobsyr_0'].unique()))

[2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012]

In [54]:
%%time
from tqdm.notebook import tqdm # used to show progress bar

# only keep the value that matches the year, set all other values to NaN

raw_murder_nums = ['2002_raw_murder_num','2003_raw_murder_num','2004_raw_murder_num','2005_raw_murder_num',
                   '2006_raw_murder_num','2007_raw_murder_num','2008_raw_murder_num','2009_raw_murder_num',
                   '2010_raw_murder_num','2011_raw_murder_num','2012_raw_murder_num',]

for i,row in tqdm(df.iterrows(), total=df.shape[0]):
    year = row['xobsyr_0']
    for i in range(len(raw_murder_nums)):
        if int(raw_murder_nums[i][:4]) != int(year):
            df.set_value(i, raw_murder_nums[i], np.nan)
            
df.head()

HBox(children=(IntProgress(value=0, max=21278), HTML(value='')))

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:13: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  del sys.path[0]

CPU times: user 3.86 s, sys: 89.2 ms, total: 3.95 s
Wall time: 4.07 s

,Unnamed: 0,Unnamed: 0.1,ID,State,City,agyaddr,Illicit_Days5,Illicit_Cens5,adol,xobsyr_0,female_cd,nonwhite_cd,unemplmt_cd,prsatx_cd,gvsg_cd,CWSg_0_cd,srprobg_cd,dssg_0_cd,epsg_0_cd,adhdg_0_cd,cdsg_0_cd,cjsig_0_cd,lrig_0_cd,srig_0_cd,SESg_0_cd,r4ag_0_cd,nonillicit_flag,primsev_cd_1,primsev_cd_2,primsev_cd_3,primsev_cd_4,primsev_cd_5,primsev_cd_6,Address,lat,lng,Geo_FIPS,2002_raw_murder_num,2003_raw_murder_num,2004_raw_murder_num,2005_raw_murder_num,2006_raw_murder_num,2007_raw_murder_num,2008_raw_murder_num,2009_raw_murder_num,2010_raw_murder_num,2011_raw_murder_num,2012_raw_murder_num
0,0,0,23223,FL,Miami,2140 South Dixie Hwy,365,0,0,2010,0,1,0,0,0,0,1,1,0,0,0,0,1,1,0,1,1,0,0,1,0,0,0,"2140 South Dixie Hwy, Miami, FL",25.743113,-80.228303,12086.0,NaN,74.0,69.0,54.0,77.0,78.0,63.0,59.0,68.0,68.0,69.0
1,1,1,857,OH,Cleveland,1276 West Third St. #400,365,0,1,2005,0,0,0,0,2,0,0,1,1,1,1,0,1,2,0,1,1,1,0,0,0,0,0,"1276 West Third St. #400, Cleveland, OH",41.501028,-81.697772,39035.0,80.0,NaN,79.0,109.0,77.0,90.0,55.0,83.0,81.0,74.0,84.0
2,2,2,929,OH,Cleveland,1276 West Third St. #400,354,0,1,2006,0,0,0,0,1,0,1,0,1,0,1,1,0,1,0,2,1,1,0,0,0,0,0,"1276 West Third St. #400, Cleveland, OH",41.501028,-81.697772,39035.0,80.0,73.0,NaN,109.0,77.0,90.0,55.0,83.0,81.0,74.0,84.0
3,3,3,951,OH,Cleveland,1276 West Third St. #400,365,0,1,2006,0,0,0,0,0,0,1,0,0,0,0,1,0,1,0,2,1,0,0,1,0,0,0,"1276 West Third St. #400, Cleveland, OH",41.501028,-81.697772,39035.0,80.0,73.0,79.0,NaN,77.0,90.0,55.0,83.0,81.0,74.0,84.0
4,4,4,1032,OH,Cleveland,1276 West Third St. #400,365,0,1,2006,0,0,0,0,2,0,1,1,1,1,1,0,2,1,0,2,1,0,0,1,0,0,0,"1276 West Third St. #400, Cleveland, OH",41.501028,-81.697772,39035.0,80.0,73.0,79.0,109.0,NaN,90.0,55.0,83.0,81.0,74.0,84.0

In [55]:
# condense murder_num feature across years into one column

df['murder_num'] = np.nan

for i in range(len(raw_murder_nums)):
    df['murder_num'] = df['murder_num'].fillna(df[raw_murder_nums[i]])

df.drop(columns=raw_murder_nums, inplace=True) # drop extra rows after condensing murder_num feature
df.head()

,Unnamed: 0,Unnamed: 0.1,ID,State,City,agyaddr,Illicit_Days5,Illicit_Cens5,adol,xobsyr_0,female_cd,nonwhite_cd,unemplmt_cd,prsatx_cd,gvsg_cd,CWSg_0_cd,srprobg_cd,dssg_0_cd,epsg_0_cd,adhdg_0_cd,cdsg_0_cd,cjsig_0_cd,lrig_0_cd,srig_0_cd,SESg_0_cd,r4ag_0_cd,nonillicit_flag,primsev_cd_1,primsev_cd_2,primsev_cd_3,primsev_cd_4,primsev_cd_5,primsev_cd_6,Address,lat,lng,Geo_FIPS,murder_num
0,0,0,23223,FL,Miami,2140 South Dixie Hwy,365,0,0,2010,0,1,0,0,0,0,1,1,0,0,0,0,1,1,0,1,1,0,0,1,0,0,0,"2140 South Dixie Hwy, Miami, FL",25.743113,-80.228303,12086.0,74.0
1,1,1,857,OH,Cleveland,1276 West Third St. #400,365,0,1,2005,0,0,0,0,2,0,0,1,1,1,1,0,1,2,0,1,1,1,0,0,0,0,0,"1276 West Third St. #400, Cleveland, OH",41.501028,-81.697772,39035.0,80.0
2,2,2,929,OH,Cleveland,1276 West Third St. #400,354,0,1,2006,0,0,0,0,1,0,1,0,1,0,1,1,0,1,0,2,1,1,0,0,0,0,0,"1276 West Third St. #400, Cleveland, OH",41.501028,-81.697772,39035.0,80.0
3,3,3,951,OH,Cleveland,1276 West Third St. #400,365,0,1,2006,0,0,0,0,0,0,1,0,0,0,0,1,0,1,0,2,1,0,0,1,0,0,0,"1276 West Third St. #400, Cleveland, OH",41.501028,-81.697772,39035.0,80.0
4,4,4,1032,OH,Cleveland,1276 West Third St. #400,365,0,1,2006,0,0,0,0,2,0,1,1,1,1,1,0,2,1,0,2,1,0,0,1,0,0,0,"1276 West Third St. #400, Cleveland, OH",41.501028,-81.697772,39035.0,80.0

In [56]:
low = df['murder_num'].min()
high = df['murder_num'].max()
third = (high - low) / 3

df['murder_numg'] = pd.cut(df['murder_num'], [low,low+third,low+2*third,high], labels=[0, 1, 2])
df.drop(columns='murder_num', inplace=True)
df.head()

,Unnamed: 0,Unnamed: 0.1,ID,State,City,agyaddr,Illicit_Days5,Illicit_Cens5,adol,xobsyr_0,female_cd,nonwhite_cd,unemplmt_cd,prsatx_cd,gvsg_cd,CWSg_0_cd,srprobg_cd,dssg_0_cd,epsg_0_cd,adhdg_0_cd,cdsg_0_cd,cjsig_0_cd,lrig_0_cd,srig_0_cd,SESg_0_cd,r4ag_0_cd,nonillicit_flag,primsev_cd_1,primsev_cd_2,primsev_cd_3,primsev_cd_4,primsev_cd_5,primsev_cd_6,Address,lat,lng,Geo_FIPS,murder_numg
0,0,0,23223,FL,Miami,2140 South Dixie Hwy,365,0,0,2010,0,1,0,0,0,0,1,1,0,0,0,0,1,1,0,1,1,0,0,1,0,0,0,"2140 South Dixie Hwy, Miami, FL",25.743113,-80.228303,12086.0,0
1,1,1,857,OH,Cleveland,1276 West Third St. #400,365,0,1,2005,0,0,0,0,2,0,0,1,1,1,1,0,1,2,0,1,1,1,0,0,0,0,0,"1276 West Third St. #400, Cleveland, OH",41.501028,-81.697772,39035.0,0
2,2,2,929,OH,Cleveland,1276 West Third St. #400,354,0,1,2006,0,0,0,0,1,0,1,0,1,0,1,1,0,1,0,2,1,1,0,0,0,0,0,"1276 West Third St. #400, Cleveland, OH",41.501028,-81.697772,39035.0,0
3,3,3,951,OH,Cleveland,1276 West Third St. #400,365,0,1,2006,0,0,0,0,0,0,1,0,0,0,0,1,0,1,0,2,1,0,0,1,0,0,0,"1276 West Third St. #400, Cleveland, OH",41.501028,-81.697772,39035.0,0
4,4,4,1032,OH,Cleveland,1276 West Third St. #400,365,0,1,2006,0,0,0,0,2,0,1,1,1,1,1,0,2,1,0,2,1,0,0,1,0,0,0,"1276 West Third St. #400, Cleveland, OH",41.501028,-81.697772,39035.0,0

In [57]:
df.shape[0] - df['murder_numg'].isna().sum() # see how many rows have murder data

12934

Add Concentrated Disadvantage Data

In [58]:
# start with raw numbers, end with FIPS code and concentrated disadvantage feature
def calculate_concentrated_disadvantage(year):
    df_census = pd.read_csv('census_data/census_' + str(year) + '.csv', encoding = "ISO-8859-1")
    
    cols_to_use = ['SE_A01001_001','SE_A01001_002','SE_A01001_003','SE_A01001_004','SE_A01001_005','SE_A10008_001',
                   'SE_A10008_006','SE_A10008_009','SE_A17005_001','SE_A17005_003','SE_A10014_001','SE_A10014_002',
                   'SE_A13003A_001','SE_A13003A_002','SE_A13003B_001','SE_A13003B_002','SE_A13003C_001',
                   'SE_A13003C_002','Geo_FIPS']
    df_census = df_census[cols_to_use]

    # calculate percentage under 18
    age_cols = ['SE_A01001_002', 'SE_A01001_003', 'SE_A01001_004', 'SE_A01001_005']
    df_census['%_U18'] = df_census[age_cols].sum(axis=1) / df_census['SE_A01001_001']
    age_cols.append('SE_A01001_001')
    df_census.drop(columns=age_cols, inplace=True)

    # calculate percentage female households
    female_householder_cols = ['SE_A10008_006', 'SE_A10008_009']
    df_census['%_female_household'] = df_census[female_householder_cols].sum(axis=1) / df_census['SE_A10008_001']
    female_householder_cols.append('SE_A10008_001')
    df_census.drop(columns=female_householder_cols, inplace=True)

    # calculate percentage unemployed
    df_census['%_unemployed'] = df_census['SE_A17005_003'] / df_census['SE_A17005_001']
    df_census.drop(columns=['SE_A17005_003', 'SE_A17005_001'], inplace=True)

    # calculate percentage households with public assistance income 
    df_census['%_public_assistance'] = df_census['SE_A10014_002'] / df_census['SE_A10014_001']
    df_census.drop(columns=['SE_A10014_001', 'SE_A10014_002'], inplace=True)

    # calculate percentage living in poverty
    population_cols = ['SE_A13003A_001', 'SE_A13003B_001', 'SE_A13003C_001']
    poverty_cols = ['SE_A13003A_002', 'SE_A13003B_002', 'SE_A13003C_002']
    df_census['%_poverty'] = df_census[poverty_cols].sum(axis=1) / df_census[population_cols].sum(axis=1)
    df_census.drop(columns=(population_cols + poverty_cols), inplace=True)

    # calculate z-scores of 5 census variables
    cols_to_z_score = ['%_U18', '%_female_household', '%_unemployed', '%_public_assistance', '%_poverty']
    for col in cols_to_z_score:
        df_census[col] = (df_census[col] - df_census[col].mean())/df_census[col].std(ddof=0)

    # average z-scored census variables to get concentrated disadvantage
    df_census['concentrated_disadvantage'] = df_census[cols_to_z_score].mean(axis=1)
    
    cuttoff = df_census['concentrated_disadvantage'].quantile(.75)
    df_census['hcd'] = np.where(df_census['concentrated_disadvantage']>=cuttoff, 1, 0)
    df_census.drop(columns='concentrated_disadvantage', inplace=True)
    
    df_census['xobsyr_0'] = year
    return df_census

In [59]:
%%time

from functools import reduce

years = [2012, 2011, 2010, 2009, 2008, 2007, 2006] # NOTE: must be in descending order
frames = []

for year in years:
    frames.append(calculate_concentrated_disadvantage(year))

hcd = pd.concat(frames)
hcd['Geo_FIPS'] = hcd['Geo_FIPS'].astype(float)
hcd.head()

CPU times: user 293 ms, sys: 27.8 ms, total: 321 ms
Wall time: 357 ms

,Geo_FIPS,%_U18,%_female_household,%_unemployed,%_public_assistance,%_poverty,hcd,xobsyr_0
0,1003.0,-0.315209,-0.827483,-0.167505,-1.063677,-0.281489,0,2012
1,1015.0,-0.266723,0.108264,1.924029,-0.228974,1.004965,1,2012
2,1043.0,-0.300034,-0.213322,-0.571784,-0.203413,0.620804,0,2012
3,1049.0,0.675602,-1.341607,-0.373412,-0.605465,-0.407789,0,2012
4,1051.0,-0.069981,-0.493078,-0.995896,-0.913261,-0.449967,0,2012

In [60]:
# group raw variables 

raw_census_vars = ['%_U18', '%_female_household', '%_unemployed', '%_public_assistance', '%_poverty']

for feat in raw_census_vars:
    low = hcd[feat].min()
    high = hcd[feat].max()
    third = (high - low) / 3

    new_feat = feat + 'g'
    
    hcd[new_feat] = pd.cut(hcd[feat], [low,low+third,low+2*third,high], labels=[0, 1, 2])
    hcd.drop(columns=feat, inplace=True)

hcd.head()

,Geo_FIPS,hcd,xobsyr_0,%_U18g,%_female_householdg,%_unemployedg,%_public_assistanceg,%_povertyg
0,1003.0,0,2012,1,0,0,0,0
1,1015.0,1,2012,1,1,1,0,0
2,1043.0,0,2012,1,1,0,0,0
3,1049.0,0,2012,1,0,0,0,0
4,1051.0,0,2012,1,0,0,0,0

In [61]:
# pull out unique county/year combinations
block_fips_df = df[['Geo_FIPS', 'xobsyr_0']]
block_fips_df = block_fips_df.drop_duplicates()
block_fips_df.shape

(450, 2)

In [62]:
block_fips_df = block_fips_df.merge(hcd, on=['Geo_FIPS', 'xobsyr_0'], how='left')
block_fips_df.head()

,Geo_FIPS,xobsyr_0,hcd,%_U18g,%_female_householdg,%_unemployedg,%_public_assistanceg,%_povertyg
0,12086.0,2010,0.0,1,1,1,0,0
1,39035.0,2005,NaN,NaN,NaN,NaN,NaN,NaN
2,39035.0,2006,1.0,1,1,1,0,0
3,39035.0,2004,NaN,NaN,NaN,NaN,NaN,NaN
4,19103.0,2005,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
# block_fips_df['hcd'].isna().sum() / block_fips_df.shape[0] # percentage of county/year pairs with null hcd

In [64]:
df = df.merge(block_fips_df, on=['Geo_FIPS', 'xobsyr_0'], how='left')
df.head()

,Unnamed: 0,Unnamed: 0.1,ID,State,City,agyaddr,Illicit_Days5,Illicit_Cens5,adol,xobsyr_0,female_cd,nonwhite_cd,unemplmt_cd,prsatx_cd,gvsg_cd,CWSg_0_cd,srprobg_cd,dssg_0_cd,epsg_0_cd,adhdg_0_cd,cdsg_0_cd,cjsig_0_cd,lrig_0_cd,srig_0_cd,SESg_0_cd,r4ag_0_cd,nonillicit_flag,primsev_cd_1,primsev_cd_2,primsev_cd_3,primsev_cd_4,primsev_cd_5,primsev_cd_6,Address,lat,lng,Geo_FIPS,murder_numg,hcd,%_U18g,%_female_householdg,%_unemployedg,%_public_assistanceg,%_povertyg
0,0,0,23223,FL,Miami,2140 South Dixie Hwy,365,0,0,2010,0,1,0,0,0,0,1,1,0,0,0,0,1,1,0,1,1,0,0,1,0,0,0,"2140 South Dixie Hwy, Miami, FL",25.743113,-80.228303,12086.0,0,0.0,1,1,1,0,0
1,1,1,857,OH,Cleveland,1276 West Third St. #400,365,0,1,2005,0,0,0,0,2,0,0,1,1,1,1,0,1,2,0,1,1,1,0,0,0,0,0,"1276 West Third St. #400, Cleveland, OH",41.501028,-81.697772,39035.0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2,929,OH,Cleveland,1276 West Third St. #400,354,0,1,2006,0,0,0,0,1,0,1,0,1,0,1,1,0,1,0,2,1,1,0,0,0,0,0,"1276 West Third St. #400, Cleveland, OH",41.501028,-81.697772,39035.0,0,1.0,1,1,1,0,0
3,3,3,951,OH,Cleveland,1276 West Third St. #400,365,0,1,2006,0,0,0,0,0,0,1,0,0,0,0,1,0,1,0,2,1,0,0,1,0,0,0,"1276 West Third St. #400, Cleveland, OH",41.501028,-81.697772,39035.0,0,1.0,1,1,1,0,0
4,4,4,1032,OH,Cleveland,1276 West Third St. #400,365,0,1,2006,0,0,0,0,2,0,1,1,1,1,1,0,2,1,0,2,1,0,0,1,0,0,0,"1276 West Third St. #400, Cleveland, OH",41.501028,-81.697772,39035.0,0,1.0,1,1,1,0,0

In [70]:
df.shape[0] - df['hcd'].isna().sum() # see how many rows have hcd flag

14960

In [66]:
df.shape

(21278, 44)

In [67]:
df.head()

,Unnamed: 0,Unnamed: 0.1,ID,State,City,agyaddr,Illicit_Days5,Illicit_Cens5,adol,xobsyr_0,female_cd,nonwhite_cd,unemplmt_cd,prsatx_cd,gvsg_cd,CWSg_0_cd,srprobg_cd,dssg_0_cd,epsg_0_cd,adhdg_0_cd,cdsg_0_cd,cjsig_0_cd,lrig_0_cd,srig_0_cd,SESg_0_cd,r4ag_0_cd,nonillicit_flag,primsev_cd_1,primsev_cd_2,primsev_cd_3,primsev_cd_4,primsev_cd_5,primsev_cd_6,Address,lat,lng,Geo_FIPS,murder_numg,hcd,%_U18g,%_female_householdg,%_unemployedg,%_public_assistanceg,%_povertyg
0,0,0,23223,FL,Miami,2140 South Dixie Hwy,365,0,0,2010,0,1,0,0,0,0,1,1,0,0,0,0,1,1,0,1,1,0,0,1,0,0,0,"2140 South Dixie Hwy, Miami, FL",25.743113,-80.228303,12086.0,0,0.0,1,1,1,0,0
1,1,1,857,OH,Cleveland,1276 West Third St. #400,365,0,1,2005,0,0,0,0,2,0,0,1,1,1,1,0,1,2,0,1,1,1,0,0,0,0,0,"1276 West Third St. #400, Cleveland, OH",41.501028,-81.697772,39035.0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2,929,OH,Cleveland,1276 West Third St. #400,354,0,1,2006,0,0,0,0,1,0,1,0,1,0,1,1,0,1,0,2,1,1,0,0,0,0,0,"1276 West Third St. #400, Cleveland, OH",41.501028,-81.697772,39035.0,0,1.0,1,1,1,0,0
3,3,3,951,OH,Cleveland,1276 West Third St. #400,365,0,1,2006,0,0,0,0,0,0,1,0,0,0,0,1,0,1,0,2,1,0,0,1,0,0,0,"1276 West Third St. #400, Cleveland, OH",41.501028,-81.697772,39035.0,0,1.0,1,1,1,0,0
4,4,4,1032,OH,Cleveland,1276 West Third St. #400,365,0,1,2006,0,0,0,0,2,0,1,1,1,1,1,0,2,1,0,2,1,0,0,1,0,0,0,"1276 West Third St. #400, Cleveland, OH",41.501028,-81.697772,39035.0,0,1.0,1,1,1,0,0

In [68]:
df.to_csv('data_superset.csv')

In [69]:
# print out total notebook execution time
total_seconds = int(time.time() - start_time)
minutes = total_seconds // 60
seconds = total_seconds % 60
print("--- " + str(minutes) + " minutes " + str(seconds) + " seconds ---")

--- 0 minutes 7 seconds ---