In [93]:
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
import csv

df = pd.read_csv('data_geocoded.csv')
df = df.sample(frac=1).reset_index(drop=True)
df.head()

,Unnamed: 0,Unnamed: 0.1,ID,State,City,agyaddr,xobsyr_0,Illicit_Days5,Illicit_Cens5,female_cd,nonwhite_cd,unemplmt_cd,prsatx_cd,gvsg_cd,CWSg_0_cd,srprobg_cd,dssg_0_cd,epsg_0_cd,adhdg_0_cd,cdsg_0_cd,cjsig_0_cd,lrig_0_cd,srig_0_cd,SESg_0_cd,r4ag_0_cd,nonillicit_flag,primsev_cd_1,primsev_cd_2,primsev_cd_3,primsev_cd_4,primsev_cd_5,primsev_cd_6,B2a_0g,SUDSy_0,SDSl_0,Address,lat,lng,state_name,county_FIPS,block_FIPS
0,12153,12161,19726,CO,Denver,1301 Pennsylvania St.,2010,1,1,0,1,1,0,2,0,1,0,1,0,1,2,2,2,0,2,1,1,0,0,0,0,0,2,2,5,"1301 Pennsylvania St., Denver, CO",39.737668,-104.981270,Colorado,8031.0,8.031003e+13
1,494,495,10452,CA,San Diego,3274 Rosecrans Street,2007,181,0,0,1,0,0,2,0,1,2,1,2,2,2,1,2,1,0,0,0,1,0,0,0,0,1,11,7,"3274 Rosecrans Street, San Diego, CA",32.750700,-117.205150,California,6073.0,6.073007e+13
2,5484,5488,8463,CT,Norwalk,4 Byington Place,2005,10,1,0,0,0,0,0,0,1,2,0,0,0,0,1,1,0,2,1,0,0,1,0,0,0,1,0,0,"4 Byington Place, Norwalk, CT",41.118269,-73.417884,Connecticut,9001.0,9.001044e+13
3,15634,15645,7173,VT,Burlington,"54 W. Twin Oaks Terrace, Suite 12 South",2004,60,1,1,0,0,1,2,0,1,0,1,1,1,0,2,2,0,2,0,0,0,0,0,0,1,1,1,1,"54 W. Twin Oaks Terrace, Suite 12 South, Burli...",44.452057,-73.173268,Vermont,50007.0,5.000700e+14
4,20212,20226,20925,TX,Laredo,2347 East Saunders Street,2010,91,1,0,1,0,0,2,0,1,0,1,0,1,2,1,2,0,2,1,1,0,0,0,0,0,2,7,4,"2347 East Saunders Street, Laredo, TX",27.530454,-99.472672,Texas,48479.0,4.847900e+14

In [94]:
df.drop(columns=['Unnamed: 0', 'Unnamed: 0.1'], inplace=True)
df.shape

(21264, 39)

In [95]:
city_murder_data = pd.read_csv('UCR-1985-2015.csv', error_bad_lines=False)
city_murder_data.head()

,Unnamed: 0,Agency,city,state,state_short,1985_raw_murder_num,1986_raw_murder_num,1987_raw_murder_num,1988_raw_murder_num,1989_raw_murder_num,1990_raw_murder_num,1991_raw_murder_num,1992_raw_murder_num,1993_raw_murder_num,1994_raw_murder_num,1995_raw_murder_num,1996_raw_murder_num,1997_raw_murder_num,1998_raw_murder_num,1999_raw_murder_num,2000_raw_murder_num,2001_raw_murder_num,2002_raw_murder_num,2003_raw_murder_num,2004_raw_murder_num,2005_raw_murder_num,2006_raw_murder_num,2007_raw_murder_num,2008_raw_murder_num,2009_raw_murder_num,2010_raw_murder_num,2011_raw_murder_num,2012_raw_murder_num,2013_raw_murder_num,2014_raw_murder_num,2015_raw_murder_num,1985_murder_rate,1986_murder_rate,1987_murder_rate,1988_murder_rate,1989_murder_rate,1990_murder_rate,1991_murder_rate,1992_murder_rate,1993_murder_rate,1994_murder_rate,1995_murder_rate,1996_murder_rate,1997_murder_rate,1998_murder_rate,1999_murder_rate,2000_murder_rate,2001_murder_rate,2002_murder_rate,2003_murder_rate,2004_murder_rate,2005_murder_rate,2006_murder_rate,2007_murder_rate,2008_murder_rate,2009_murder_rate,2010_murder_rate,2011_murder_rate,2012_murder_rate,2013_murder_rate,2014_murder_rate,2015_murder_rate
0,0,New York City Police Dept,New York City,New York,NY,1384.0,1582.0,1672.0,1896.0,1905.0,2245.0,2154.0,1995.0,1946.0,1561.0,1177.0,983.0,770.0,633.0,664.0,673.0,714.0,587.0,597.0,570.0,539.0,596.0,496.0,523.0,471.0,536.0,515.0,419.0,335.0,333.0,288.0,19.3,22.0,23.0,25.8,25.8,30.7,29.3,27.1,26.5,21.3,16.1,13.4,10.5,8.6,8.9,8.4,8.9,7.3,7.4,7.0,6.6,7.3,6.0,6.3,5.6,6.6,6.3,5.1,3.99,3.93,3.398656
1,1,Los Angeles Police Dept,Los Angeles,California,CA,777.0,834.0,811.0,736.0,877.0,983.0,1027.0,1094.0,1076.0,845.0,849.0,711.0,576.0,426.0,425.0,550.0,588.0,654.0,515.0,518.0,489.0,480.0,395.0,384.0,312.0,293.0,297.0,299.0,251.0,260.0,282.0,24.4,25.6,24.3,21.6,25.5,28.2,28.9,30.3,30.5,23.8,24.5,20.3,16.3,11.8,11.6,14.9,15.6,17.1,13.4,13.4,12.6,12.4,10.2,10.0,8.1,7.7,7.7,7.8,6.47,6.66,7.218235
2,2,Chicago Police Dept,Chicago,Illinois,IL,666.0,744.0,687.0,660.0,742.0,850.0,925.0,939.0,845.0,928.0,824.0,789.0,757.0,703.0,641.0,631.0,666.0,648.0,598.0,448.0,448.0,468.0,443.0,510.0,458.0,432.0,431.0,500.0,414.0,411.0,478.0,22.2,24.8,22.8,22.0,24.8,30.5,32.9,33.1,30.3,33.1,30.0,28.6,27.4,25.6,22.7,21.8,22.9,22.1,20.6,15.5,15.6,16.4,15.7,18.0,16.1,16.0,15.9,18.5,15.22,15.09,17.546945
3,3,Houston Police Dept,Houston,Texas,TX,457.0,408.0,323.0,440.0,459.0,568.0,608.0,465.0,446.0,375.0,316.0,261.0,254.0,254.0,241.0,230.0,267.0,256.0,278.0,272.0,334.0,377.0,351.0,294.0,287.0,269.0,198.0,217.0,214.0,242.0,303.0,26.2,22.9,18.6,25.5,26.8,34.8,36.5,27.4,25.9,21.3,18.2,14.7,14.1,14.1,13.3,11.8,13.4,12.5,13.6,13.3,16.3,18.2,16.2,13.1,12.6,12.8,9.2,10.0,9.81,10.90,13.649061
4,4,Philadelphia Police Dept,Philadelphia,Pennsylvania,PA,273.0,343.0,338.0,374.0,475.0,503.0,440.0,425.0,439.0,404.0,432.0,420.0,418.0,338.0,292.0,319.0,309.0,288.0,348.0,330.0,377.0,407.0,392.0,331.0,302.0,306.0,324.0,331.0,247.0,248.0,280.0,16.6,20.8,20.5,22.6,28.7,31.7,27.6,26.5,28.1,25.9,28.2,27.5,27.4,23.3,20.3,21.0,20.4,18.9,23.3,22.2,25.6,27.8,27.3,23.0,19.5,20.1,21.2,21.5,15.90,15.91,17.959517

In [96]:
cols_to_use = ['2002_raw_murder_num','2003_raw_murder_num','2004_raw_murder_num','2005_raw_murder_num',
               '2006_raw_murder_num','2007_raw_murder_num','2008_raw_murder_num','2009_raw_murder_num',
               '2010_raw_murder_num','2011_raw_murder_num','2012_raw_murder_num','city','state_short']

city_murder_data = city_murder_data[cols_to_use]

In [97]:
city_murder_data.shape

(290, 13)

In [98]:
city_murder_data.rename(columns = {'city':'City', 'state_short':'State'}, inplace = True)

In [99]:
df = pd.merge(df, city_murder_data, on=['City', 'State'], how='left')
df.head()

,ID,State,City,agyaddr,xobsyr_0,Illicit_Days5,Illicit_Cens5,female_cd,nonwhite_cd,unemplmt_cd,prsatx_cd,gvsg_cd,CWSg_0_cd,srprobg_cd,dssg_0_cd,epsg_0_cd,adhdg_0_cd,cdsg_0_cd,cjsig_0_cd,lrig_0_cd,srig_0_cd,SESg_0_cd,r4ag_0_cd,nonillicit_flag,primsev_cd_1,primsev_cd_2,primsev_cd_3,primsev_cd_4,primsev_cd_5,primsev_cd_6,B2a_0g,SUDSy_0,SDSl_0,Address,lat,lng,state_name,county_FIPS,block_FIPS,2002_raw_murder_num,2003_raw_murder_num,2004_raw_murder_num,2005_raw_murder_num,2006_raw_murder_num,2007_raw_murder_num,2008_raw_murder_num,2009_raw_murder_num,2010_raw_murder_num,2011_raw_murder_num,2012_raw_murder_num
0,19726,CO,Denver,1301 Pennsylvania St.,2010,1,1,0,1,1,0,2,0,1,0,1,0,1,2,2,2,0,2,1,1,0,0,0,0,0,2,2,5,"1301 Pennsylvania St., Denver, CO",39.737668,-104.981270,Colorado,8031.0,8.031003e+13,51.0,63.0,87.0,59.0,51.0,47.0,40.0,35.0,28.0,34.0,39.0
1,10452,CA,San Diego,3274 Rosecrans Street,2007,181,0,0,1,0,0,2,0,1,2,1,2,2,2,1,2,1,0,0,0,1,0,0,0,0,1,11,7,"3274 Rosecrans Street, San Diego, CA",32.750700,-117.205150,California,6073.0,6.073007e+13,47.0,65.0,62.0,51.0,68.0,59.0,55.0,41.0,29.0,38.0,47.0
2,8463,CT,Norwalk,4 Byington Place,2005,10,1,0,0,0,0,0,0,1,2,0,0,0,0,1,1,0,2,1,0,0,1,0,0,0,1,0,0,"4 Byington Place, Norwalk, CT",41.118269,-73.417884,Connecticut,9001.0,9.001044e+13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,7173,VT,Burlington,"54 W. Twin Oaks Terrace, Suite 12 South",2004,60,1,1,0,0,1,2,0,1,0,1,1,1,0,2,2,0,2,0,0,0,0,0,0,1,1,1,1,"54 W. Twin Oaks Terrace, Suite 12 South, Burli...",44.452057,-73.173268,Vermont,50007.0,5.000700e+14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20925,TX,Laredo,2347 East Saunders Street,2010,91,1,0,1,0,0,2,0,1,0,1,0,1,2,1,2,0,2,1,1,0,0,0,0,0,2,7,4,"2347 East Saunders Street, Laredo, TX",27.530454,-99.472672,Texas,48479.0,4.847900e+14,7.0,29.0,15.0,18.0,22.0,10.0,10.0,17.0,9.0,11.0,8.0

In [100]:
df.shape

(21264, 50)

In [101]:
import numpy as np

print(np.sort(df['xobsyr_0'].unique()))

[2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012]

In [102]:
%%time
from tqdm.notebook import tqdm # used to show progress bar

# only keep the value that matches the year, set all other values to NaN

raw_murder_nums = ['2002_raw_murder_num','2003_raw_murder_num','2004_raw_murder_num','2005_raw_murder_num',
                   '2006_raw_murder_num','2007_raw_murder_num','2008_raw_murder_num','2009_raw_murder_num',
                   '2010_raw_murder_num','2011_raw_murder_num','2012_raw_murder_num',]

for i,row in tqdm(df.iterrows(), total=df.shape[0]):
    year = row['xobsyr_0']
    for i in range(len(raw_murder_nums)):
        if int(raw_murder_nums[i][:4]) != int(year):
            df.set_value(i, raw_murder_nums[i], np.nan)
            
df.head()

HBox(children=(IntProgress(value=0, max=21264), HTML(value='')))

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:13: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  del sys.path[0]

CPU times: user 4.79 s, sys: 91.7 ms, total: 4.88 s
Wall time: 5.51 s

,ID,State,City,agyaddr,xobsyr_0,Illicit_Days5,Illicit_Cens5,female_cd,nonwhite_cd,unemplmt_cd,prsatx_cd,gvsg_cd,CWSg_0_cd,srprobg_cd,dssg_0_cd,epsg_0_cd,adhdg_0_cd,cdsg_0_cd,cjsig_0_cd,lrig_0_cd,srig_0_cd,SESg_0_cd,r4ag_0_cd,nonillicit_flag,primsev_cd_1,primsev_cd_2,primsev_cd_3,primsev_cd_4,primsev_cd_5,primsev_cd_6,B2a_0g,SUDSy_0,SDSl_0,Address,lat,lng,state_name,county_FIPS,block_FIPS,2002_raw_murder_num,2003_raw_murder_num,2004_raw_murder_num,2005_raw_murder_num,2006_raw_murder_num,2007_raw_murder_num,2008_raw_murder_num,2009_raw_murder_num,2010_raw_murder_num,2011_raw_murder_num,2012_raw_murder_num
0,19726,CO,Denver,1301 Pennsylvania St.,2010,1,1,0,1,1,0,2,0,1,0,1,0,1,2,2,2,0,2,1,1,0,0,0,0,0,2,2,5,"1301 Pennsylvania St., Denver, CO",39.737668,-104.981270,Colorado,8031.0,8.031003e+13,NaN,63.0,87.0,59.0,51.0,47.0,40.0,35.0,28.0,34.0,39.0
1,10452,CA,San Diego,3274 Rosecrans Street,2007,181,0,0,1,0,0,2,0,1,2,1,2,2,2,1,2,1,0,0,0,1,0,0,0,0,1,11,7,"3274 Rosecrans Street, San Diego, CA",32.750700,-117.205150,California,6073.0,6.073007e+13,47.0,NaN,62.0,51.0,68.0,59.0,55.0,41.0,29.0,38.0,47.0
2,8463,CT,Norwalk,4 Byington Place,2005,10,1,0,0,0,0,0,0,1,2,0,0,0,0,1,1,0,2,1,0,0,1,0,0,0,1,0,0,"4 Byington Place, Norwalk, CT",41.118269,-73.417884,Connecticut,9001.0,9.001044e+13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,7173,VT,Burlington,"54 W. Twin Oaks Terrace, Suite 12 South",2004,60,1,1,0,0,1,2,0,1,0,1,1,1,0,2,2,0,2,0,0,0,0,0,0,1,1,1,1,"54 W. Twin Oaks Terrace, Suite 12 South, Burli...",44.452057,-73.173268,Vermont,50007.0,5.000700e+14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20925,TX,Laredo,2347 East Saunders Street,2010,91,1,0,1,0,0,2,0,1,0,1,0,1,2,1,2,0,2,1,1,0,0,0,0,0,2,7,4,"2347 East Saunders Street, Laredo, TX",27.530454,-99.472672,Texas,48479.0,4.847900e+14,7.0,29.0,15.0,18.0,NaN,10.0,10.0,17.0,9.0,11.0,8.0

In [103]:
# condense murder_num feature across years into one column

df['murder_num'] = np.nan

for i in range(len(raw_murder_nums)):
    df['murder_num'] = df['murder_num'].fillna(df[raw_murder_nums[i]])

df.drop(columns=raw_murder_nums, inplace=True) # drop extra rows after condensing murder_num feature
df.head()

,ID,State,City,agyaddr,xobsyr_0,Illicit_Days5,Illicit_Cens5,female_cd,nonwhite_cd,unemplmt_cd,prsatx_cd,gvsg_cd,CWSg_0_cd,srprobg_cd,dssg_0_cd,epsg_0_cd,adhdg_0_cd,cdsg_0_cd,cjsig_0_cd,lrig_0_cd,srig_0_cd,SESg_0_cd,r4ag_0_cd,nonillicit_flag,primsev_cd_1,primsev_cd_2,primsev_cd_3,primsev_cd_4,primsev_cd_5,primsev_cd_6,B2a_0g,SUDSy_0,SDSl_0,Address,lat,lng,state_name,county_FIPS,block_FIPS,murder_num
0,19726,CO,Denver,1301 Pennsylvania St.,2010,1,1,0,1,1,0,2,0,1,0,1,0,1,2,2,2,0,2,1,1,0,0,0,0,0,2,2,5,"1301 Pennsylvania St., Denver, CO",39.737668,-104.981270,Colorado,8031.0,8.031003e+13,63.0
1,10452,CA,San Diego,3274 Rosecrans Street,2007,181,0,0,1,0,0,2,0,1,2,1,2,2,2,1,2,1,0,0,0,1,0,0,0,0,1,11,7,"3274 Rosecrans Street, San Diego, CA",32.750700,-117.205150,California,6073.0,6.073007e+13,47.0
2,8463,CT,Norwalk,4 Byington Place,2005,10,1,0,0,0,0,0,0,1,2,0,0,0,0,1,1,0,2,1,0,0,1,0,0,0,1,0,0,"4 Byington Place, Norwalk, CT",41.118269,-73.417884,Connecticut,9001.0,9.001044e+13,NaN
3,7173,VT,Burlington,"54 W. Twin Oaks Terrace, Suite 12 South",2004,60,1,1,0,0,1,2,0,1,0,1,1,1,0,2,2,0,2,0,0,0,0,0,0,1,1,1,1,"54 W. Twin Oaks Terrace, Suite 12 South, Burli...",44.452057,-73.173268,Vermont,50007.0,5.000700e+14,NaN
4,20925,TX,Laredo,2347 East Saunders Street,2010,91,1,0,1,0,0,2,0,1,0,1,0,1,2,1,2,0,2,1,1,0,0,0,0,0,2,7,4,"2347 East Saunders Street, Laredo, TX",27.530454,-99.472672,Texas,48479.0,4.847900e+14,7.0

In [104]:
df.shape[0] - df['murder_num'].isna().sum() # see how many rows have murder data

13186

In [105]:
state_murder_data = pd.read_csv('CrimeTrendsInOneVar.csv', error_bad_lines=False)
state_murder_data.head()

,Year,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Florida,Georgia,Hawaii,Idaho,Illinois,Indiana,Iowa,Kansas,Kentucky,Louisiana,Maine,Maryland,Massachusetts,Michigan,Minnesota,Mississippi,Missouri,Montana,Nebraska,Nevada,New Hampshire,New Jersey,New Mexico,New York,North Carolina,North Dakota,Ohio,Oklahoma,Oregon,Pennsylvania,Rhode Island,South Carolina,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,2006,382,36,533,205,2486,171,137,42,169,1129,605,21,35,780,361,55,125,173,555,23,546,188,721,126,231,369,33,51,226,13,427,134,922,539,14,560,210,88,741,27,362,30,419,1386,51,14,403,197,80,165,13
1,2007,412,43,548,198,2262,155,113,39,181,1202,720,24,49,752,350,39,106,206,625,20,554,187,661,116,202,367,27,71,193,12,381,183,805,584,17,529,224,76,725,19,364,31,405,1419,59,13,415,174,65,185,21
2,2008,351,27,462,165,2142,165,132,57,186,1168,640,26,23,790,322,77,113,201,544,31,493,166,554,110,236,456,40,69,165,14,376,161,836,599,11,547,215,87,705,31,307,37,412,1370,41,17,370,193,67,146,12
3,2009,322,22,380,179,1972,159,106,41,145,1017,566,23,24,773,312,38,125,184,529,26,440,173,623,74,194,387,32,41,156,11,319,198,781,489,12,527,234,88,664,32,305,30,468,1330,39,8,370,190,84,146,11
4,2010,275,31,408,134,1809,129,133,51,132,987,555,25,22,704,268,38,97,188,500,24,426,214,580,96,204,420,25,54,158,13,371,140,868,474,10,479,195,96,653,29,265,23,359,1249,53,7,376,154,58,155,8

In [ ]:
n_counties_per_state = {}

for i,row in tqdm(counties.iterrows(), total=counties.shape[0]):
    state = row['county'].split(',')[1].strip()
    if state in list(n_counties_per_state.keys()):
        n_counties_per_state[state] += 1
    else:
        n_counties_per_state[state] = 1
        
n_counties_per_state

In [ ]:
for i,row in tqdm(df.iterrows(), total=df.shape[0]):
    xobsyr_0 = row['xobsyr_0']
    state_name = row['state_name']
        
    try:
        if row['murder_num'] != np.nan:
            state_murder_data.loc[state_murder_data.Year == int(xobsyr_0), state_name] = \
                state_murder_data.loc[state_murder_data.Year == xobsyr_0, state_name] - row['murder_num']
            n_counties_per_state[state_name] -= 1
    except:
        print('Failed on:', state_name)

state_murder_data.head()

HBox(children=(IntProgress(value=0, max=21264), HTML(value='')))

Failed on: nan
Failed on: nan
Failed on: nan
Failed on: nan
Failed on: nan
Failed on: nan
Failed on: nan
Failed on: nan
Failed on: nan
Failed on: nan
Failed on: nan
Failed on: nan
Failed on: nan
Failed on: nan
Failed on: nan
Failed on: nan
Failed on: nan
Failed on: nan
Failed on: nan
Failed on: nan
Failed on: nan
Failed on: nan
Failed on: nan
Failed on: nan
Failed on: nan
Failed on: nan
Failed on: nan
Failed on: nan
Failed on: nan
Failed on: nan
Failed on: nan
Failed on: nan
Failed on: nan
Failed on: nan
Failed on: nan
Failed on: nan
Failed on: nan
Failed on: nan
Failed on: nan
Failed on: nan
Failed on: nan

In [ ]:
# group murder data

low = df['murder_num'].min()
high = df['murder_num'].max()
quarter = (high - low) / 4

df['murder_numg'] = pd.cut(df['murder_num'], [low,low+quarter,low+3*quarter,high], labels=[0, 1, 2])
df.drop(columns='murder_num', inplace=True)
df.head()

In [ ]:
counties = pd.read_csv('census_counties_list.csv', error_bad_lines=False)
counties = counties.tail(counties.shape[0] - 2)
counties.rename(columns={'table with row headers in column A and column headers in rows 3 through 4 (leading dots indicate sub-parts)':'county'}, inplace=True)
counties.head()