In [1]:
# store start time to get execution time of entire script
import time
start_time = time.time()

In [2]:
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
import csv

df = pd.read_csv('data_cleaned.csv')
df.head()

,Unnamed: 0,ID,State,City,agyaddr,xobsyr_0,Illicit_Days5,Illicit_Cens5,female_cd,nonwhite_cd,unemplmt_cd,prsatx_cd,gvsg_cd,CWSg_0_cd,srprobg_cd,dssg_0_cd,epsg_0_cd,adhdg_0_cd,cdsg_0_cd,cjsig_0_cd,lrig_0_cd,srig_0_cd,SESg_0_cd,r4ag_0_cd,nonillicit_flag,primsev_cd_1,primsev_cd_2,primsev_cd_3,primsev_cd_4,primsev_cd_5,primsev_cd_6,B2a_0g,SUDSy_0,SDSl_0
0,1,857,OH,Cleveland,1276 West Third St. #400,2005,365,0,0,0,0,0,2,0,0,1,1,1,1,0,1,2,0,1,1,1,0,0,0,0,0,0,0,0
1,2,929,OH,Cleveland,1276 West Third St. #400,2006,354,0,0,0,0,0,1,0,1,0,1,0,1,1,0,1,0,2,1,1,0,0,0,0,0,0,3,2
2,3,951,OH,Cleveland,1276 West Third St. #400,2006,365,0,0,0,0,0,0,0,1,0,0,0,0,1,0,1,0,2,1,0,0,1,0,0,0,0,2,1
3,4,1032,OH,Cleveland,1276 West Third St. #400,2006,365,0,0,0,0,0,2,0,1,1,1,1,1,0,2,1,0,2,1,0,0,1,0,0,0,0,2,1
4,5,1039,OH,Cleveland,1276 West Third St. #400,2004,365,0,0,0,0,0,0,0,0,1,0,0,1,1,2,1,0,2,0,0,1,0,0,0,0,0,0,0

In [3]:
df['Address'] = df['agyaddr'] + ', ' + df['City'] + ', ' + df['State']
addresses = list(df['Address'].unique())
len(addresses)

186

In [4]:
%%time

from opencage.geocoder import OpenCageGeocode
from tqdm.notebook import tqdm

# get longitude and latitude for each unique address
key = '2d4ad4cfcdc44021abfe1e347daa6dc7'
geocoder = OpenCageGeocode(key)

geocoded_addrs = []

for addr in tqdm(addresses):
    results = geocoder.geocode(addr)
    lat = results[0]['geometry']['lat']
    lng = results[0]['geometry']['lng']
    geocoded_addrs.append([addr, lat, lng])
    # print(addr + ' -> (' + str(lat) + ', ' + str(lon) + ')')

HBox(children=(IntProgress(value=0, max=186), HTML(value='')))

CPU times: user 4.16 s, sys: 524 ms, total: 4.69 s
Wall time: 2min 41s

In [5]:
geocoded_addrs_df = pd.DataFrame(geocoded_addrs, columns=['Address', 'lat', 'lng'])
geocoded_addrs_df.head()

                                     Address        lat         lng
0    1276 West Third St. #400, Cleveland, OH  41.419286  -81.701695
1   100 Oakdale Campus - M319, Iowa City, IA  41.708538  -91.592663
2           3130 E Broadway Blvd, Tucson, AZ  32.221429 -110.944997
3          1220 Bardstown Rd, Louisville, KY  38.236398  -85.717815
4  1111 Barranca Dr., Suite 800, El Paso, TX  31.747334 -106.335056

In [6]:
geocoded_addrs_df.isna().sum()

Address    0
lat        0
lng        0
dtype: int64

In [7]:
%%time

import urllib, json, requests
import numpy as np

# get block_fips code based on longitude and latitude
def api_call(row):
    lat = row['lat']
    # http://data.fcc.gov/api/block/find?format=json&latitude=28.35975&longitude=-81.421988&showall=true
    lng = row['lng']
    URL = "https://geo.fcc.gov/api/census/block/find?format=json&latitude=" + str(lat) + "&longitude=" + str(lng)
    with urllib.request.urlopen(URL) as url:
        data = json.loads(url.read().decode())
    try:
        return int(data['County']['FIPS']), int(data['Block']['FIPS']), data['State']['name']
    except TypeError: # response failed to get county fips
        return np.nan, np.nan, np.nan

geocoded_addrs_df['state_name'] = ''
for ind,row in tqdm(geocoded_addrs_df.iterrows(), total=geocoded_addrs_df.shape[0]):
    county_FIPS, block_FIPS, state_name = api_call(row)
    geocoded_addrs_df.set_value(ind, 'county_FIPS', county_FIPS)
    geocoded_addrs_df.set_value(ind, 'block_FIPS', block_FIPS)
    geocoded_addrs_df.set_value(ind, 'state_name', state_name)
    
geocoded_addrs_df.head()

HBox(children=(IntProgress(value=0, max=186), HTML(value='')))

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

CPU times: user 3.29 s, sys: 356 ms, total: 3.64 s
Wall time: 1min 8s

,Address,lat,lng,state_name,county_FIPS,block_FIPS
0,"1276 West Third St. #400, Cleveland, OH",41.419286,-81.701695,Ohio,39035.0,3.903511e+14
1,"100 Oakdale Campus - M319, Iowa City, IA",41.708538,-91.592663,Iowa,19103.0,1.910300e+14
2,"3130 E Broadway Blvd, Tucson, AZ",32.221429,-110.944997,Arizona,4019.0,4.019001e+13
3,"1220 Bardstown Rd, Louisville, KY",38.236398,-85.717815,Kentucky,21111.0,2.111101e+14
4,"1111 Barranca Dr., Suite 800, El Paso, TX",31.747334,-106.335056,Texas,48141.0,4.814100e+14

In [8]:
geocoded_addrs_df.isna().sum() # how many nulls per column

Address        0
lat            0
lng            0
state_name     1
county_FIPS    1
block_FIPS     1
dtype: int64

In [14]:
temp = geocoded_addrs_df[geocoded_addrs_df.county_FIPS != ')n']

,Address,lat,lng,state_name,county_FIPS,block_FIPS
0,"1276 West Third St. #400, Cleveland, OH",41.419286,-81.701695,Ohio,39035.0,3.903511e+14
1,"100 Oakdale Campus - M319, Iowa City, IA",41.708538,-91.592663,Iowa,19103.0,1.910300e+14
2,"3130 E Broadway Blvd, Tucson, AZ",32.221429,-110.944997,Arizona,4019.0,4.019001e+13
3,"1220 Bardstown Rd, Louisville, KY",38.236398,-85.717815,Kentucky,21111.0,2.111101e+14
4,"1111 Barranca Dr., Suite 800, El Paso, TX",31.747334,-106.335056,Texas,48141.0,4.814100e+14
5,"3274 Rosecrans Street, San Diego, CA",32.750859,-117.205031,California,6073.0,6.073007e+13
6,"4 Byington Place, Norwalk, CT",41.118269,-73.417884,Connecticut,9001.0,9.001044e+13
7,"1615 E. Fort Lowell Dr., Tucson, AZ",32.264892,-110.947797,Arizona,4019.0,4.019003e+13
8,"2225 E. Ajo Way, Tucson, AZ",32.177987,-110.940527,Arizona,4019.0,4.019002e+13
9,"8620 W. Emerald Street, Boise, ID",43.611373,-116.288882,Idaho,16001.0,1.600100e+14
10,"505 Hudson St., Hartford, CT",41.757252,-72.678799,Connecticut,9003.0,9.003500e+13
11,"2191 Third Avenue, New York, NY",42.800228,-73.952315,New York,36093.0,3.609302e+14
12,"520 Townsend Street, San Francisco, CA",37.773106,-122.400171,California,6075.0,6.075018e+13
13,"3305 West 25th St., Cleveland, OH",41.464866,-81.700150,Ohio,39035.0,3.903510e+14
14,"303 Jackson Hill St., Houston, TX",29.763923,-95.402213,Texas,48201.0,4.820151e+14
15,"2101 Alexian Drive, Suite 110, San Jose, CA",37.359221,-121.848460,California,6085.0,6.085504e+13
16,"2140 South Dixie Hwy, Miami, FL",25.743113,-80.228303,Florida,12086.0,1.208601e+14
17,"447 East Broad Street, Columbus, OH",39.963987,-82.985250,Ohio,39049.0,3.904900e+14
18,"8801 Lipan Street, Thornton, CO",39.858039,-105.001042,Colorado,8001.0,8.001009e+13
19,"545 Westminster Street, Fitchburg, MA",42.565029,-71.845196,Massachusetts,25027.0,2.502771e+14
20,"1111 University Avenue, Des Moines, IA",41.600704,-93.632392,Iowa,19153.0,1.915301e+14
21,"205 S. Eola Dr., Orlando, FL",28.544732,-81.369857,Florida,12095.0,1.209501e+14
22,"3875 Tiger Bay Road, Daytona Beach, FL",29.147314,-81.152417,Florida,12127.0,1.212708e+14
23,"13001 E 17th Place, Aurora, CO",39.745191,-104.837587,Colorado,8001.0,8.001008e+13
24,"1611 S. Federal Blvd., Denver, CO",39.687411,-105.025158,Colorado,8031.0,8.031005e+13
25,"3375 U.S. Route 60, East, Huntington, WV",38.402682,-82.505588,West Virginia,54099.0,5.409901e+14
26,"902 W. Main Street, West Frankfort, IL",37.897863,-88.939491,Illinois,17055.0,1.705504e+14
27,"50 Jay St., Brooklyn, NY",40.703488,-73.986870,New York,36047.0,3.604700e+14
28,"3722 Pinemont Drive, Houston, TX",29.841191,-95.437964,Texas,48201.0,4.820153e+14
29,"1534 White Ave, Knoxville, TN",35.958631,-83.929508,Tennessee,47093.0,4.709300e+14
30,"1849 Sawtelle Blvd., Suite 100, Los Angeles, CA",34.035113,-118.438593,California,6037.0,6.037271e+13
31,"18646 Oxnard Street, Tarzana, CA",34.179900,-118.539511,California,6037.0,6.037139e+13
32,"5400 Arsenal St., St. Louis, MO",38.605999,-90.280051,Missouri,29510.0,2.951013e+14
33,"2671 Huffman Blvd, Jacksonville, FL",30.298713,-81.504950,Florida,12031.0,1.203101e+14
34,"995 Day Hill Road, Windsor, CT",41.877949,-72.701641,Connecticut,9003.0,9.003474e+13
35,"2387 E. Saunders, Suite 2, Laredo, TX",27.530458,-99.472336,Texas,48479.0,4.847900e+14
36,"11600 Eldridge Ave., Lake View Terrace, CA",34.277597,-118.380948,California,6037.0,6.037104e+13
37,"611 East Belmont Avenue, Fresno, CA",36.750470,-119.803822,California,6019.0,6.019002e+13
38,"7703 Floyd Curl Drive, San Antonio, TX",29.513085,-98.577729,Texas,48029.0,4.802918e+14
39,"101 West Colfax Ave., Denver, CO",39.740803,-104.988177,Colorado,8031.0,8.031002e+13
40,"401 5th Ave, Seattle, WA",47.602799,-122.328669,Washington,53033.0,5.303301e+14
41,"2387 E. Saunders, Laredo, TX",27.530458,-99.472336,Texas,48479.0,4.847900e+14
42,"1301 Pennsylvania St., Denver, CO",39.737668,-104.981269,Colorado,8031.0,8.031003e+13
43,"4520 North Central Avenue, Suite 620, Phoenix, AZ",33.502758,-112.074297,Arizona,4013.0,4.013117e+13
44,"402 E. Main St., Waterbury, CT",41.554401,-73.034260,Connecticut,9009.0,9.009350e+13
45,"260 South Broad Street, 18th Floor, Philadelph...",39.947395,-75.164832,Pennsylvania,42101.0,4.210100e+14
46,"PO Box 790006, Paia, HI",19.729609,-155.089620,Hawaii,15001.0,1.500102e+14
47,"3000 Rockefeller Avenue, Everett, WA",47.971314,-122.205512,Washington,53061.0,5.306104e+14
48,"760 East 160th Street, Bronx, NY",40.820343,-73.904878,New York,36005.0,3.600501e+14
49,"11500 Paramount Boulevard, Downey, CA",33.930804,-118.146842,California,6037.0,6.037552e+13
50,"303 W. Colfax Ave. Suite 1401, Denver, CO",39.740216,-104.992260,Colorado,8031.0,8.031002e+13
51,"720 W Chestnut St, Bloomington, IL",40.485418,-89.000689,Illinois,17113.0,1.711300e+14
52,"545 Westminster St, Fitchburg, MA",42.565029,-71.845196,Massachusetts,25027.0,2.502771e+14
53,"601 McPhee Road SW, Olympia, WA",47.043086,-122.953204,Washington,53067.0,5.306701e+14
54,"4301 West Markham, Little Rock, AR",34.751564,-92.320681,Arkansas,5119.0,5.119002e+13
55,"6655 66th Street North, Pinellas Park, FL",27.832377,-82.728358,Florida,12103.0,1.210302e+14
56,"114 Orchard Lake Rd, Pontiac, MI",42.634234,-83.296797,Michigan,26125.0,2.612514e+14
57,"103 Bacon Street, Pawtuckett, RI",41.750380,-71.499780,Rhode Island,44007.0,4.400701e+14
58,"3670 Maguire Blvd., Suite 110, Orlando, FL",28.559707,-81.338485,Florida,12095.0,1.209501e+14
59,"386 Stanley St, Fall River, MA",41.714507,-71.136284,Massachusetts,25005.0,2.500564e+14
60,"2215 Langhorne Road, Suite 2-B, Lynchburg, VA",37.413019,-79.174362,Virginia,51680.0,5.168000e+14
61,"419 E. 7th Street, The Dalles, OR",45.597901,-121.182585,Oregon,41065.0,4.106597e+14
62,"P.O. Box 3308, Tucson, AZ",32.225221,-110.909508,Arizona,4019.0,4.019002e+13
63,"3375 U.S. RT. 60 East, Huntington, WV",38.402682,-82.505588,West Virginia,54099.0,5.409901e+14
64,"Campus Box 2447, Huntsville, TX",30.291236,-95.405465,Texas,48339.0,4.833969e+14
65,"3905 Grissom Parkway, Cocoa, FL",28.419679,-80.787027,Florida,12009.0,1.200906e+14
66,"2241 Langhorne Rd., Lynchburg, VA",37.411866,-79.171371,Virginia,51680.0,5.168000e+14
67,"2671 Huffman Blvd., Jacksonville, FL",30.298713,-81.504950,Florida,12031.0,1.203101e+14
68,"One Court House Square, Kenton, OH",40.665289,-83.603034,Ohio,39065.0,3.906500e+14
69,"2502 Tacoma Avenue South, Tacoma, WA",47.238202,-122.441249,Washington,53053.0,5.305306e+14
70,"386 Stanley Street, Fall River, MA",41.714507,-71.136284,Massachusetts,25005.0,2.500564e+14
71,"1300 E. Bradford Parkway, Springfield, MO",37.145944,-93.274353,Missouri,29077.0,2.907700e+14
72,"3130 E. Broadway Blvd., Tucson, AZ",32.221465,-110.926070,Arizona,4019.0,4.019002e+13
73,"6655 66th Street, St. Petersburg, FL",27.770860,-82.679270,Florida,12103.0,1.210302e+14
74,"P.O. Box 1349, Silver City, NM",32.779279,-108.214844,New Mexico,35017.0,3.501796e+14
75,"270 Highway 35, Red Bank, NJ",40.365628,-74.083096,New Jersey,34025.0,3.402580e+14
76,"P.O. Box 33, Avon Park, FL",28.074436,-81.908101,Florida,12105.0,1.210501e+14
77,"14901 Broschart Road, Rockville, MD",39.084000,-77.152760,Maryland,24031.0,2.403170e+14
78,"P.O. Box 28, Santa Barbara, CA",34.422132,-119.702667,California,6083.0,6.083001e+13
79,"1301 Pennsylvania Ave, Denver, CO",40.233148,-76.137168,Pennsylvania,42071.0,4.207101e+14
80,"P.O. Box 908, Newtown, PA",40.216484,-74.944974,Pennsylvania,42017.0,4.201711e+14
81,"54 W. Twin Oaks Terrace, Suite 12 South, Burli...",44.452057,-73.173268,Vermont,50007.0,5.000700e+14
82,"1080 Emeline Ave., Santa Cruz, CA",36.991524,-122.016141,California,6087.0,6.087121e+13
83,"12304 Santa Monica Blvd, Los Angeles, CA",34.046647,-118.447845,California,6037.0,6.037267e+13
84,"6 S 2nd St, Ste 420, Hamilton, OH",39.399592,-84.561889,Ohio,39017.0,3.901701e+14
85,"4287 Five Oaks Dr, Lansing, MI",42.681306,-84.516173,Michigan,26065.0,2.606501e+14
86,"725 E Market St, Akron, OH",41.076620,-81.495911,Ohio,39153.0,3.915351e+14
87,"14600 NW Cornell Rd, Portland, OR",45.532418,-122.711263,Oregon,41051.0,4.105100e+14
88,"240 W. Tyrone Road, Oak Ridge, TN",36.025870,-84.243149,Tennessee,47001.0,4.700102e+14
89,"1101 Sixth Avenue North, Nashville, TN",36.173887,-86.788702,Tennessee,47037.0,4.703702e+14
90,"3130 E. Broadway Blvd. Suite 180, Tucson, AZ",32.220280,-110.963330,Arizona,4019.0,4.019001e+13
91,"702 San Pedro Ave, San Antonio, TX",26.212922,-98.337963,Texas,48215.0,4.821502e+14
92,"1101 6th Ave N, Nashville, TN",36.173959,-86.788864,Tennessee,47037.0,4.703702e+14
93,"3050 Biscayne Blvd, Miami, FL",25.806139,-80.189763,Florida,12086.0,1.208600e+14
94,"6000 Lamar Ave., Mission, KS",39.020032,-94.658471,Kansas,20091.0,2.009105e+14
95,"800 South Victoria Ave., Oxnard, CA",34.201974,-119.221076,California,6111.0,6.111003e+13
96,"2725 Judge Fran Jamieson Way, Viera, FL",28.245840,-80.737067,Florida,12009.0,1.200907e+14
97,"104 South Front Street, Prestonburg, KY",37.666863,-82.775155,Kentucky,21071.0,2.107192e+14
98,"1300 Bradford Parkway, Springfield, MO",37.146920,-93.274949,Missouri,29077.0,2.907700e+14
99,"401 5th Avenue, Seattle, WA",47.602799,-122.328669,Washington,53033.0,5.303301e+14

In [9]:
# re-merge patient data and geocoded addresses by the address feature
df = pd.merge(df, geocoded_addrs_df, on=['Address'], how='left')

In [10]:
df.shape

(21264, 40)

In [11]:
df.head()

,Unnamed: 0,ID,State,City,agyaddr,xobsyr_0,Illicit_Days5,Illicit_Cens5,female_cd,nonwhite_cd,unemplmt_cd,prsatx_cd,gvsg_cd,CWSg_0_cd,srprobg_cd,dssg_0_cd,epsg_0_cd,adhdg_0_cd,cdsg_0_cd,cjsig_0_cd,lrig_0_cd,srig_0_cd,SESg_0_cd,r4ag_0_cd,nonillicit_flag,primsev_cd_1,primsev_cd_2,primsev_cd_3,primsev_cd_4,primsev_cd_5,primsev_cd_6,B2a_0g,SUDSy_0,SDSl_0,Address,lat,lng,state_name,county_FIPS,block_FIPS
0,1,857,OH,Cleveland,1276 West Third St. #400,2005,365,0,0,0,0,0,2,0,0,1,1,1,1,0,1,2,0,1,1,1,0,0,0,0,0,0,0,0,"1276 West Third St. #400, Cleveland, OH",41.419286,-81.701695,Ohio,39035.0,3.903511e+14
1,2,929,OH,Cleveland,1276 West Third St. #400,2006,354,0,0,0,0,0,1,0,1,0,1,0,1,1,0,1,0,2,1,1,0,0,0,0,0,0,3,2,"1276 West Third St. #400, Cleveland, OH",41.419286,-81.701695,Ohio,39035.0,3.903511e+14
2,3,951,OH,Cleveland,1276 West Third St. #400,2006,365,0,0,0,0,0,0,0,1,0,0,0,0,1,0,1,0,2,1,0,0,1,0,0,0,0,2,1,"1276 West Third St. #400, Cleveland, OH",41.419286,-81.701695,Ohio,39035.0,3.903511e+14
3,4,1032,OH,Cleveland,1276 West Third St. #400,2006,365,0,0,0,0,0,2,0,1,1,1,1,1,0,2,1,0,2,1,0,0,1,0,0,0,0,2,1,"1276 West Third St. #400, Cleveland, OH",41.419286,-81.701695,Ohio,39035.0,3.903511e+14
4,5,1039,OH,Cleveland,1276 West Third St. #400,2004,365,0,0,0,0,0,0,0,0,1,0,0,1,1,2,1,0,2,0,0,1,0,0,0,0,0,0,0,"1276 West Third St. #400, Cleveland, OH",41.419286,-81.701695,Ohio,39035.0,3.903511e+14

In [12]:
df.to_csv('data_geocoded.csv')

In [13]:
# print out total notebook execution time
total_seconds = int(time.time() - start_time)
minutes = total_seconds // 60
seconds = total_seconds % 60
print("--- " + str(minutes) + " minutes " + str(seconds) + " seconds ---")

--- 3 minutes 52 seconds ---